extends layout

block content
    if category_items.length
        p.d-items Delete the following items in order to delete this category!
        div.grid-container
            each item in category_items 
                div.card
                    a(href=item.url) 
                        h3 Item: #{item.name}
                        p.card-details Brand: #{item.brand.name}
                        p.card-details Gender: #{item.gender}#{`'s`}
                        p.card-details Price: $#{item.price}
    else 
        form.d-form(method='POST' action='')
            input#categoryid.form-control(type='hidden' name='categoryid' required='true' value=category._id)
            p.d-msg Are you sure you want to delete this Category? 
            button.d-btn.btn(type='submit') Delete